h1 {
  animation: slide-in 1s ease;
  text-align: center;
  text-shadow: 1px 1px 1px #b0b0b0;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shop-item {
  width: 300px;
  margin: 20px;
  border-bottom: 1px solid black;
  border-radius: 5px;
}

.shop-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.shop-item-details {
  padding: 10px;
}

.shop-item-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.shop-item-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: green;
  margin-bottom: 5px;
}

.shop-item-button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.shop-item:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
  box-shadow: 0px 5px 10px rgba(101, 68, 68, 0.3);

  cursor: pointer;
}

.shop-item:hover img {
  filter: brightness(75%);
}
.description {
  width: 800px;
  height: 600px;
  background-color: rgba(250, 250, 250, 0.905);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 110px;
  bottom: 0;
  z-index: 99;
  transition: all 2s;
  border-radius: 5%;
}
.blurContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px);
  z-index: 1;
}
.description img {
  width: 550px;
  height: 550px;
  top: 40px;
  position: absolute;
}
.description h2 {
  position: absolute;
  right: 50px;
}
.description p {
  position: absolute;
  right: 50px;
  bottom: 100px;
  font-size: 30px;
}
.description button {
  position: absolute;
  right: 20px;
  bottom: 50px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.7s;
  width: 140px;
  height: 40px;
  background-color: rgb(182, 224, 224);
  border: none;
  border-bottom: 1px solid rgb(131, 130, 130);
  border-radius: 2px;
}
.description button:hover {
  transform: scale(1.1);
  background-color: rgb(146, 236, 236);
}
.description h3 {
  position: absolute;
  right: 50px;
  top: 100px;
}
.description form {
  position: absolute;

  text-align: center;
  right: 90px;
  top: 170px;
  font-size: 20px;
  text-align: start;

  cursor: pointer;
  font-weight: bold;
}
.quantity {
  position: absolute;
  right: 60px;
  bottom: 210px;
  font-size: 20px;
  text-align: center;
}
.quantity input {
  outline: none;
  border: 0px;

  margin-top: 10px;
  text-align: center;
  width: 100px;
  height: 40px;
  font-size: 18px;
}
