.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  .signIn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(231, 233, 233);
    width: 700px;
    height: 500px;
    -webkit-box-shadow: 13px -7px 17px 11px rgba(115, 115, 115, 0.61);
    -moz-box-shadow: 13px -7px 17px 11px rgba(115, 115, 115, 0.61);
    box-shadow: 13px -7px 17px 11px rgba(115, 115, 115, 0.61);

    h2 {
      font-size: 33px;
      margin-top: -40px;
    }
    span {
      font-size: 18px;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      margin-top: 50px;

      .input-email {
        margin-bottom: 40px;
        font-size: 16px;
        margin-left: 30px;
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0);
        transition: all 0.5s ease-in-out;
        height: 30px;
        width: 300px;
        background-color: rgb(231, 233, 233);
        &:focus {
          outline: none;
        }
      }
      .input-password {
        margin-bottom: 20px;
        margin-left: 30px;
        font-size: 16px;
        color: #fff;
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0);
        transition: all 0.5s ease-in-out;
        height: 30px;
        background-color: rgb(231, 233, 233);
        color: black;
        width: 300px;
      }
    }
  }
  .acc-new {
    margin-top: 10px;
    span {
      font-size: 18px;

      .link {
        font-size: 25px;
        outline: none;
        background-color: transparent;
        color: rgb(140, 140, 255);
        margin-left: 60px;
        cursor: pointer;
        &:hover {
          border-bottom: 1px solid rgb(140, 140, 255);
        }
      }
    }
  }
}
.btn-submit {
  margin-bottom: 20px;
  margin-left: 30px;
  width: 100px;
  height: 40px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.1);
    background-color: rgb(241, 237, 231);
  }
}
.btn-google {
  margin-left: 30px;

  width: 200px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(233, 236, 236);
  background-color: rgba(36, 48, 215, 0.418);
  border: none;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}
